build
config
launch

# Editors
.tags
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.vscode-workspace
out/
.vs/
*.suo
*.user
*.ncb
Debug/
Release/
CodeAnalyst/
ipch/
*.sdf
*.opensdf
builds/
*.log
out *.txt
*.swp

# CMake
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug/

#tex
docs/*.aux
docs/*.bbl
docs/*.blg
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.out
docs/*.synctex.gz
docs/*.dvi
docs/*.nav
docs/*.snm
docs/*.toc
docs/*.vrb
*.out

#vcpkg
vcpkg_installed/
cloc-1.98.exe
