# Editors
.tags
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.vscode-workspace
out/
.vs/
*.suo
*.user
*.ncb
Debug/
Release/
CodeAnalyst/
ipch/
*.sdf
*.opensdf
/Builds/Intel® VTune™ Profiler Results
/Builds/GPUCache

# CMake
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#tex
docs/tipe.aux
docs/tipe.fdb_latexmk
docs/tipe.fls
docs/tipe.log
docs/tipe.synctex.gz
*.out
/Builds/result.txt
