[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/rapidcsv"]
	path = external/rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/SDL-image"]
	path = external/SDL-image
	url = https://github.com/libsdl-org/SDL_image.git
